body {
    background-color: #565656;
}

.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main__section {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
}

/* desktop */
@media screen and (min-width: 800px){
    .main__section {
        padding: 1rem 3rem;
        border-radius: 12px;
    }
}
