:root {
  --primary: #1b76d2;
  --secondary: #1e90ff;
  --light: white;
  --gray100: rgba(252, 252, 252, 0.867);
  --gray200: rgba(246, 246, 246, 0.867);
  --gray300: rgba(242, 242, 242, 0.867);
  --gray400: rgba(236, 236, 236, 0.867);
  --gray500: rgba(224, 224, 224, 0.867);
  --gray600: rgba(207, 207, 207, 0.867);
  --gray700: rgba(173, 173, 173, 0.867);
  --gray800: rgba(163, 163, 163, 0.867);
  --gray900: rgba(150, 150, 150, 0.867);
  --dark: black;
  --title-color-light: white;
  --title-color-dark: black;
  --success: rgb(25, 91, 57);
  --light-success: rgb(40, 146, 91);
  --alert: blue;
  --warning: orange;
  --danger: rgb(199, 83, 83);
  --header-height: 10vh;
  --body-height: 85vh;
  --footer-height: 5vh;
}

.body{
  height: var(--body-height);
}

.label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.btn {
  padding: 1rem 0.7rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  transition: all ease-in-out 0.2s;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(0.8);
  font-weight: bold;
}

.btn-primary {
  background-color: var(--success);
  color: var(--light);
  border: none;
}

.text-upper {
  text-transform: uppercase;
}

.input {
  border: 1px solid var(--gray700);
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: var(--gray100);
  color: var(--gray900);
}

*:focus {
  outline: solid 1px var(--primary);
}

.input:focus {
  background-color: var(--light);
}

.fieldset {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  border: 1px solid var(--gray300);
  padding: 0.9rem;
}

.form {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  color: var(--light);
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.5rem;
  pointer-events: none;
}

.error {
  background-color: var(--danger);
}

.message::after{
  cursor: pointer;
  content: '✘';
  justify-self: flex-end;
  pointer-events: all;
}

.message:hover::after{
  font-weight: bold;
}

.success {
  background-color: var(--light-success);
}

.hidden {
  display: none;
  overflow: hidden;
  width: 0;
  height: 0;
}

@keyframes spCircRot {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}

.loading {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid var(--primary);
  animation: spCircRot .6s infinite linear;
}

.loading::after{
  content: '*';
  color: var(--light);
  font-weight: bold;
}

.header {
  display: flex;
  grid-area: header;
  min-width: 100%;
  justify-content: space-between;
  padding: 0.9rem 2rem; 
  box-shadow: 0px 8px 4px -5px var(--gray900);
  height: var(--header-height);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  min-width: 100%;
  position: fixed;
  bottom: 0px;
  height: 3rem;
  background-color: var(--light);
  height: var(--footer-height);
}

.content {
  display: flex;
  grid-area: content;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 100%;
  background-color: var(--gray400);
}

.layout {
  display: grid;
  grid-template-areas: 
  'header header header header header header'
  'content content content content content content'
  'footer footer footer footer footer footer';
}

.header__page__logo {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--primary);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.header__page__logo img {
  display: flex;
  width: 40px;
  height: 40px;
}

.header__page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__page__nav {
  display: flex;
}

.header__page__nav {
  display: flex;
}

.header__page__nav__ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--gray600);
  margin: 0 0.2rem;
  padding: 0 1rem;
}

.ul__search .header__page__nav__ul__item input[type=search] {
  margin: 0;
  padding: 0;
  width: 0px;
  height: 0px;
  transition: all ease-in-out 0.2s;
}


.ul__search:hover input[type=search],.ul__search input[type=search]:focus {
  display: flex;
  width: 250px;
  height: 40px;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.header__page__nav__ul__item > .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
}

.item__input, .item__label {
  cursor: pointer;
  padding: 0 0.5rem;
}

.header__page__title {
  margin: 0;
  padding: 0;
}

.header__page__nav__ul__item {
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}

.item__input {
  padding: 0.5rem;
}

.header__page__nav__ul__item>input[type=button].item__input{
  width: auto;
  height: 50px;
  background-color: var(--success);
  border: none;
  border-radius: 0.5rem;
  color: var(--light);
  padding: 0 1rem;
  font-weight: 600;
}
